@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
    --background:#1e1e1e;
    --header:#222222;
    --gen-text:#eeeeee;
    --accent:#bcbcbc;
    --link:rgb(222, 222, 114);
}

html {
    margin:0;
    padding:0;
}

body>* {
    padding:10px;
}

a {
    text-decoration: none;
    color: var(--link);
}

a:hover, a:active {
    text-decoration:underline;
}

a:visited {
    color:var(--accent)
}

body {
    background-color: var(--background);
    font-family: "Open Sans", sans-serif;
    padding:o;
    margin:0;
    min-height: 100vh;
    color:var(--gen-text);
    display:grid;
    grid-template-rows: 60px auto 60px;
    grid-template-areas:
        "header"
        "main"
        "archive"
        "footer";
    gap: 10px;
}

@media only screen and (min-width:600px) {
    body{
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 60px auto 60px;
        grid-template-areas:
            "header header header"
            "archive main . "
            "footer footer footer";
    }

    main {
        border-left: 2px var(--accent) solid;
    }
}

header {
    background-color: var(--header);
    border-bottom: 2px var(--accent) solid;
    grid-area: header;
    color:var(--accent);
}

main {
    grid-area: main;
}

.welcome {
    border-radius: 10px;
    background:linear-gradient(135deg, rgb(56, 96, 159), rgb(45, 70, 134));
    border:none;
}

article {
    border-bottom: 2px var(--accent) solid;
    padding: 10px;
}

article>img {
    max-width:100%;
}

.archive {
    grid-area: archive;
}

summary {
    cursor: pointer;
}

footer {
    background-color: var(--header);
    grid-area: footer;
    text-align:center;
}